{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
  <h2> Movie List </h2>
         {% for i in movie_list %}
<br>
        <div class="col-md-3" style="width: 18rem; padding: 10px;">
           <div class="card ml-2" >
              <img src="{{ i.image.url }}" class="card-img-top" alt="..." height="150">
                 <div class="card-body text-center ">
                      <h5 class="card-title">{{ i.name }}</h5>
                          <p class="card-text">{{ i.desc }}</p>
                             <a href="{% url 'demo:detail' i.id %}" class="btn btn-primary">View Details</a>
                 </div>
           </div>
        </div><br><br><br><br>

              {% endfor %}
    </div>
</div>

{% endblock %}

